<%- include('element/header') %>

    <div class="container">
        <div class="row">
            <div class="col-12  bg-light">

                <h1>Đăng nhập WGĐ</h1>

                <form method="post" action="/login">

                    <div class="mb-3 mt-3">
                        <label for="email" class="form-label">Email:</label>
                        <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>

                    <div class="mb-3">
                        <label for="pass" class="form-label">Password:</label>
                        <input type="password" class="form-control" id="pass" placeholder="Enter password" name="pass">
                    </div>
                    <button type="submit" class="btn btn-primary">Đăng nhập</button>

                </form>

                <br>
                <button class="btn btn-primary">Quên password</button>
                <br>
                <br>
                <button class="btn btn-primary">Đăng nhập bằng google</button>




















            </div>
        </div>
    </div>











    <%- include('element/footer') %>