<%- include('element/header') %>

    <div class="container">
        <div class="row">
            <div class="col-12  bg-light">

                <h1>Giới thiệu WGĐ</h1>
                <h1>user <%=name%>
                </h1>

















            </div>


        </div>
    </div>




    <%- include('element/footer') %>