<%- include('element/dieu_huong') %>

    <div class="container">
        <div class="row">


            <h2>WGĐ Xin chào người dùng</h2>

            <!-- container >> row -->
            <!-- col-12   col-sm-12    col-md-6    col-lg-4    col-xl-3    col-xxl-2  -->
            <!-- <576     >=576        >=768       >=992       >=1200      >=1400     -->

            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-primary">
                1
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-danger">
                2
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-primary">
                3
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-danger">
                4
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-primary">
                5
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-danger">
                6
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3 col-xxl-2 bg-primary">
                7
            </div>




        </div>
    </div>





    <%- include('element/footer') %>