<%- include('element/header') %>

    <h1>User</h1>




    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Search">
        <button class="btn btn-success" type="submit">Tìm</button>
    </div>

    <p>Danh sách người dùng</p>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Chọn</th>
                <th>Email</th>
                <th>Chức vụ</th>
            </tr>
        </thead>

        <% for(var i=0; i<usersList.length; i++) {%>

            <tbody>
                <tr>
                    <td>
                        <input type="checkbox" class="form-check-input" id="check" name="option" `>
                    </td>
                    <td>
                        <input type="email" class="form-control" id="email" name="email" value=<%=usersList[i].email %>>
                    </td>
                    <td>
                        <select class="form-select">
                            <option>khách</option>
                            <option>Người dùng</option>
                        </select>
                    </td>

                </tr>
            </tbody>

            <% } %>


    </table>


    <button type="button" class="btn btn-primary">Lưu lại</button>
    <button type="button" class="btn btn-warning">Thêm người dùng</button>
    <button type="button" class="btn btn-danger">Xóa</button>






    <%- include('element/footer') %>